.msg-topo{
    color: #ff1818;    
}
.container .login{
    width: 90%;
}
.login img {
    width: 100%;
    height: auto;
    opacity: 0.09;
    padding: 15%;
}

.login {
    margin: 0 auto;
    color: #3e3e3e;
    /* justify-content: center; */
    align-items: center;
    padding: 180px 0;
    position: relative;
    height: 100%;
    background-color: #fff;
    border: solid 1px rgb(223, 221, 221);
    max-width: 355px;
    border-radius: 5px;
    display: flex;
    box-shadow: 2px 2px 5px rgba(200, 191, 191, 0.5);
    overflow: hidden;

}

form {
    overflow: hidden;
    padding: 20px;
    position: absolute;
    text-align: left;
    margin: auto;
    width: 300px;
    /* border: #3e3e3e 1px solid; */

}

.login input {
    border: none;
    border: 1px solid #c4c1c1;
    padding: 10px;
    border-radius: 5px;
    color: #3e3e3e;
    box-shadow: 2px 2px 5px rgba(200, 191, 191, 0.5);

}

.login input,
label {

    margin: 5px 0px;
    display: block;
    width: 290px;

}

.login label {
    font-size: small;
}

.login button {
    padding: 15px 10px;
    width: 104%;
    margin-top: 10px;
    background-color: #bd0808;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 5px rgba(200, 191, 191, 0.5);
}

/* .container {
    margin: auto;
    text-align: center;
}

.container h1 {
    margin-top: 10%;
    font-weight: normal;
}

.container hr {
    width: 80px;
    border: none;
    border: #bd0808 solid 1px;
    margin-bottom: 20px;
} */